@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

:root {
    --black: #141414;
    --yellow: #ffeb33;
}

* {
    margin: 0;
    padding: 0;
    /*    border: 1px dashed white;*/
}

body {
    background-color: var(--black);
}

.navbar {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 10%;
    display: flex;
    align-items: center;
    /*border: 1px dashed green;*/
}

.logo {
    /*    border: 1px solid blueviolet;*/
    margin-top: 1rem;
    height: 100%;
}

.logo img {
    margin-left: 1rem;
    width: 50%;
}

.menu {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
    width: 100%;
}

.menu button {
    font-size: large;
    border-top: none;
    border-bottom: 1px solid var(--yellow);
    border-left: none;
    border-right: none;
    color: white;
    background-color: transparent;
    margin: 1rem;
    padding: .3rem 1rem;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: .3rem;
}

.body {
    /*border: 1px solid white;*/
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    color: var(--black);
    height: 90%;
    width: 90%;
    border-radius: 14px;
    background-color: var(--yellow);
    overflow: hidden;
}

.s1 {
    display: flex;
    height: 100%;
    border: 1px dashed red;
    margin: 1rem;
}