@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');


/*font-family: 'Roboto Mono', monospace;*/

:root {
    --black: #141414;
    --yellow: #ffeb33;
}

* {
    margin: 0;
    padding: 0;
    color: white;
    /*    border: 1px dashed white;*/
}

body {
    background-color: var(--black);
}

.navbar {
    display: flex;
    border: 1px solid red;
    height: 18%;
}

.logo {
    border: 1px solid blue;
}

.logo img{
    width: 50%;
}